<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398784461305-a49q61hfrmvf05tofurkkoh0mh6m1osu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398784461305-a49q61hfrmvf05tofurkkoh0mh6m1osu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>398784461305-qcqvv94ciq6a3ghjutcq9u5fhb57jvr4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFiGva8S13JNbF72dnCwuYGdv_Vre7h2w</string>
	<key>GCM_SENDER_ID</key>
	<string>398784461305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winable.winable</string>
	<key>PROJECT_ID</key>
	<string>winable-16c54</string>
	<key>STORAGE_BUCKET</key>
	<string>winable-16c54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398784461305:ios:5c8dc5968183cd0d282528</string>
</dict>
</plist>